.root {
  li {
    display: inline-block;    
    
    a {
      justify-content: center;
      align-items: center;
      padding: 10px;
      border: 1px solid #f79a30;
      border-radius: 32px;
      cursor: pointer;
      margin-right: 10px;

      &:hover {
        background-color: lighten(#f79a30, 20%);
      }
    }
  }

  :global {
    .selected {
        a {
            background-color: #f79a30;
        }      
    }
  }
}
